<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!---->
    <div id="selection">
      <div id="shen">
      <img src="https://avatars1.githubusercontent.com/u/3596778?s=460&v=4" id="shenpic" class="Cpic">
      
      </div>
      <div id="razzi">
        <img src="https://avatars3.githubusercontent.com/u/2244895?s=400&v=4" id="razzipic" class="Cpic">
      
      
      </div>        
    </div>
      
   <div id="screen">
      <div id="left" class="container">
        <button id="north">North</button>
        <button id="south">South</button>
        <button id="west">West</button>
         <button id="east">East</button>
         <button id="destroy">Destroy</button>
      </div>
      <div id="right" class="container"></div>
    </div>

    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
<!--     How to add a javascript file -->
    <script src="/app.js"></script>

  </body>
</html>
