<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Jungle Exploration</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body style="background-image:url(https://cdn.glitch.com/e8633612-a5c5-4aee-ac35-a0548ea64d53%2FForest-31.jpg?1522016626117)">

  <h1 id="title">
          Choose Your Avatar!
  </h1>
    <h3>
      
    </h3>
   <div id="screen">
      <div id="left" class="container">
        <div id="razzi">
          <a href="https://paper-turtle-explorers.glitch.me/razzi">
            <img src="https://avatars3.githubusercontent.com/u/2244895?s=400&v=4" id="razzipic" class="Cpic">
          </a>
            <h2 id="Razziname" class="name">Razzi</h2>
        </div>
      </div>
      <div id="right" class="container">
        <div id="shen">
          <a href="https://paper-turtle-explorers.glitch.me/shen">
            <img src="https://avatars1.githubusercontent.com/u/3596778?s=460&v=4" id="shenpic" class="Cpic">
          </a>
          <h2 id="Shenname" class="name">
            Shen
          </h2>
        </div>
     </div>
    </div>

    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
<!--     How to add a javascript file -->
    <script src="/app.js"></script>

  </body>
</html>
