<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Jungle Exploration</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body onload="s(),draw()">
  <h1 id="title">Exploring the Jungle with Shen</h1>
   <div id="screen">
      <div id="left" class="container">
        
        <div class="button-center">
          <button id="north" class="button">North</button>
          <button id="south" class="button">South</button>
          <button id="west" class="button">West</button>
          <button id="east" class="button">East</button>
          <button id="destroy" class="button">Destroy</button>
        </div>
      </div>
      <div id="right" class="container">
        
        <div id="grids">
        </div>
     </div>
    </div>

    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
<!--     How to add a javascript file -->
    <script src="/app.js"></script>

  </body>
</html>
