#screen {
display:flex;
}

.Cpic{
width:200px;
height:200px;
border-radius:100px;
text-align:center;
}


#shen,#razzi {
  text-align:center;
}

#left{
  flex:50%;
  background:blue;
}
#right{
flex:55%;
  background:red;
}
  
.Cpic:hover{
    top:-20px;
    position:relative;
}
.button{
width:30em;
height:6.5em;

}

#title{
  text-align:center;
}

.button-center{
 display:flex;
flex-direction:column;
}

#info{
  top:580px;
  border:solid 5px black;
  position:absolute;
  height:175px;
  width:45%;
  font-size:27px;
}

.Bbuttons{
display:none;
width:30em;
height:6.5em;
}

#chealth{
  display:absolute;
  top: 580px;
  left: 100px;
}

#title{
animation:Ccolor 3s infinite alternate;
}

@keyframes Ccolor{
  from{
    color:white;
  }to{
    color:#82a385;
  }
}

@keyframes Bopacity{
  from{
    opacity1
  }to{
    opacity:0.2;
  }

}
