#screen {
display:flex;
}

.Cpic{
width:200px;
height:200px;
border-radius:100px;
text-align:center;
}


#shen,#razzi {
  text-align:center;
}

#left{
  flex:50%;
  background:blue;
}
#right{
flex:55%;
  background:red;
}
  
.Cpic:hover{
    top:-20px;
    position:relative;
}
.button{
width:30em;
height:6.5em;

}

#title{
  text-align:center;
}

.button-center{
 display:flex;
flex-direction:column;
}

#info{
  top:575px;
  border:solid 5px black;
  position:absolute;
  height:150px;
  width:50%;
}
